@import "tailwindcss";


@layer components {
 .btn {
    @apply rounded-full bg-black text-white p-2 mt-2 font-semibold uppercase tracking-wide transition-all duration-300 transform hover:-translate-y-2 hover:shadow-2xl;
 }
 .badge {
    @apply text-xs rounded-md p-3 absolute top-0 ml-2 mt-2 bg-black text-white shadow-lg ;
 }
 .hover {
   @apply hover:scale-105 transition-all duration-500;
 }
 .hero-bg {
   background-image: url('../img/white_shoe.jpg');
   background-position: center;
   background-size: cover;
 }
 
}